<form (submit)="submit($event)" novalidate>
  <label
    >Username
    <input
      type="text"
      [control]="registrationForm.username"
      [attr.aria-invalid]="ariaInvalidState(registrationForm.username())"
    />
    <app-form-error [field]="registrationForm.username()" />
  </label>

  <!-- A whole child form with own model -->
  <app-identity-form [identity]="registrationForm.identity" />

  <!-- native HTML inputs bound with the [control] directive -->
  <div>
    <label
      >Age
      <input
        type="number"
        [control]="registrationForm.age"
        [attr.aria-invalid]="ariaInvalidState(registrationForm.age())"
      />
      <app-form-error [field]="registrationForm.age()" />
    </label>
  </div>

  <div>
    <label
      >Password
      <input
        type="password"
        autocomplete
        [control]="registrationForm.password.pw1"
        [attr.aria-invalid]="ariaInvalidState(registrationForm.password.pw1())"
      />
      <app-form-error [field]="registrationForm.password.pw1()" />
    </label>
    <label
      >Password Confirmation
      <input
        type="password"
        autocomplete
        [control]="registrationForm.password.pw2"
        [attr.aria-invalid]="ariaInvalidState(registrationForm.password.pw2())"
      />
      <app-form-error [field]="registrationForm.password.pw2()" />
    </label>
    <app-form-error [field]="registrationForm.password()" />
  </div>
  <fieldset>
    <legend>E-Mail Addresses</legend>
    <div>
      @for (emailField of registrationForm.email; track $index) {
      <div>
        <div role="group">
          <input
            type="email"
            [control]="emailField"
            [attr.aria-label]="'E-Mail ' + $index"
            [attr.aria-invalid]="ariaInvalidState(emailField())"
          />
          <button type="button" (click)="removeEmail($index)">-</button>
        </div>
        <app-form-error [field]="emailField()" />
      </div>
      }
    </div>
    <app-form-error [field]="registrationForm.email()" />
    <button type="button" (click)="addEmail($event)">+</button>
  </fieldset>
  <label
    >Subscribe to Newsletter?
    <input type="checkbox" [control]="registrationForm.newsletter" />
  </label>
  <app-multiselect
    [control]="registrationForm.newsletterTopics"
    label="Topics (multiple possible):"
  />
  <app-form-error [field]="registrationForm.newsletterTopics()" />
  <label
    >I agree to the terms and conditions
    <input
      type="checkbox"
      [attr.aria-invalid]="ariaInvalidState(registrationForm.agreeToTermsAndConditions())"
      [control]="registrationForm.agreeToTermsAndConditions"
    />
  </label>
  <app-form-error [field]="registrationForm.agreeToTermsAndConditions()" />
  <hr />
  <app-form-error [field]="registrationForm()" />
  <div role="group">
    <button
      type="submit"
      [disabled]="registrationForm().submitting()"
      [attr.aria-busy]="registrationForm().submitting()"
    >
      @if (registrationForm().submitting()) { Registering... } @else { Register }
    </button>
    <button type="reset" (click)="reset()">Reset</button>
  </div>
</form>

<!-- Debug Output -->
<article>
  <div role="group" class="gap">
    <div>
      <h2>Form States</h2>
      <table class="striped">
        <thead>
          <tr>
            <th scope="col">State</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Touched:</td>
            <td>{{ registrationForm().touched() }}</td>
          </tr>
          <tr>
            <td scope="row">Valid:</td>
            <td>{{ registrationForm().valid() }}</td>
          </tr>
          <tr>
            <td scope="row">Invalid:</td>
            <td>{{ registrationForm().invalid() }}</td>
          </tr>
          <tr>
            <td scope="row">Dirty:</td>
            <td>{{ registrationForm().dirty() }}</td>
          </tr>
          <tr>
            <td scope="row">Disabled:</td>
            <td>{{ registrationForm().disabled() }}</td>
          </tr>
          <tr>
            <td scope="row">Pending:</td>
            <td>{{ registrationForm().pending() }}</td>
          </tr>
          <tr>
            <td scope="row">Submitting:</td>
            <td>{{ registrationForm().submitting() }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h3>Data Model</h3>
      <pre><code>{{ registrationModel() | json }}</code></pre>
    </div>
  </div>
</article>
