<form (submit)="submit($event)">
  <label
    >Username
    <input
      type="text"
      [control]="f.username"
      [attr.aria-invalid]="ariaInvalidState(f.username())"
    />
    @if (f.username().touched() && f.username().errors().length) {
      <app-form-error [errors]="f.username().errors()" />
    }
  </label>

  <!-- A whole child form with own model -->
  <app-identity-form [identity]="f.identity" />

  <!-- native HTML inputs bound with the [control] directive -->
  <div>
    <label
      >Age
      <input type="number" [control]="f.age" [attr.aria-invalid]="ariaInvalidState(f.age())" />
      @if (f.age().touched() && f.age().errors().length) {
        <app-form-error [errors]="f.age().errors()" />
      }
    </label>
    <label
      >Birthday
      <input type="date" [control]="f.birthday" />
    </label>
  </div>

  <div>
    <label
      >Password
      <input
        type="password"
        autocomplete
        [control]="f.password.pw1"
        [attr.aria-invalid]="ariaInvalidState(f.password.pw1())"
      />
      @if (f.password.pw1().touched() && f.password.pw1().errors().length) {
        <app-form-error [errors]="f.password.pw1().errors()" />
      }
    </label>
    <label
      >Password Confirmation
      <input
        type="password"
        autocomplete
        [control]="f.password.pw2"
        [attr.aria-invalid]="ariaInvalidState(f.password.pw2())"
      />
      @if (f.password.pw2().touched() && f.password.pw2().errors().length) {
        <app-form-error [errors]="f.password.pw2().errors()" />
      }
    </label>
    @if (f.password().touched() && f.password().errors().length) {
      <app-form-error [errors]="f.password().errors()" />
    }
  </div>
  <fieldset>
    <legend>E-Mail Addresses</legend>
    <div>
      @for (emailField of f.email; track $index) {
        <div>
          <div role="group">
            <input
              type="email"
              [control]="emailField"
              [attr.aria-label]="'E-Mail ' + $index"
              [attr.aria-invalid]="ariaInvalidState(emailField())"
            />
            <button type="button" (click)="removeEmail($index)">-</button>
          </div>
          @if (emailField().touched() && emailField().errors().length) {
            <app-form-error [errors]="emailField().errors()" />
          }
        </div>
      }
    </div>
    @if (!f.email[0] || (f.email[0]().touched() && f.email().errors().length)) {
      <app-form-error [errors]="f.email().errors()" />
    }
    <button type="button" (click)="addEmail($event)">+</button>
  </fieldset>
  <label
    >Subscribe to Newsletter?
    <input type="checkbox" [control]="f.newsletter" />
  </label>
  <app-multiselect [control]="f.newsletterTopics" label="Topics (multiple possible):" />
  @if (f.newsletterTopics().touched() && f.newsletterTopics().errors().length) {
    <app-form-error [errors]="f.newsletterTopics().errors()" />
  }
  <label
    >I agree to the terms and conditions
    <input
      type="checkbox"
      [attr.aria-invalid]="ariaInvalidState(f.agreeToTermsAndConditions())"
      [control]="f.agreeToTermsAndConditions"
    />
  </label>
  @if (f.agreeToTermsAndConditions().touched() && f.agreeToTermsAndConditions().errors().length) {
    <app-form-error [errors]="f.agreeToTermsAndConditions().errors()" />
  }
  <hr />
  <app-form-error [errors]="f().errors()" />
  <div role="group">
    <button type="submit" [disabled]="f().submitting()" [ariaBusy]="f().submitting()">
      Register
    </button>
    <button type="reset" (click)="reset()">Reset</button>
  </div>
</form>

<!-- Debug Output -->
<article>
  <div class="columns">
    <div>
      <h2>Form States</h2>
      <ul>
        <li>Touched: {{ f().touched() }}</li>
        <li>Valid: {{ f().valid() }}</li>
        <li>Invalid: {{ f().invalid() }}</li>
        <li>Dirty: {{ f().dirty() }}</li>
        <li>Disabled: {{ f().disabled() }}</li>
        <li>Pending: {{ f().pending() }}</li>
        <li>Submitting: {{ f().submitting() }}</li>
      </ul>
    </div>
    <div>
      <h3>Data Model</h3>
      <pre><code>{{ registrationModel() | json }}</code></pre>
    </div>
  </div>
</article>
