<app-back-button />
<h1>Version 2: Advanced Validation and Schema Patterns</h1>

<p>
  <mark>Note:</mark> User "johndoe" already exists. Use this user to simulate async validation
  error.
</p>

<form (submit)="submitForm()" novalidate>
  <label
    >Username
    <input
      type="text"
      [field]="registrationForm.username"
      [aria-invalid]="ariaInvalidState(registrationForm.username)"
    />
    @if (registrationForm.username().pending()) {
      <small>Checking availability ...</small>
    }
    <app-form-error [fieldRef]="registrationForm.username" />
  </label>

  <!-- native HTML inputs bound with the [field] directive -->
  <div>
    <label
      >Age
      <input
        type="number"
        [field]="registrationForm.age"
        [aria-invalid]="ariaInvalidState(registrationForm.age)"
      />
      <app-form-error [fieldRef]="registrationForm.age" />
    </label>
  </div>

  <div>
    <label
      >Password
      <input
        type="password"
        autocomplete
        [field]="registrationForm.password.pw1"
        [aria-invalid]="ariaInvalidState(registrationForm.password.pw1)"
      />
      <app-form-error [fieldRef]="registrationForm.password.pw1" />
    </label>
    <label
      >Password Confirmation
      <input
        type="password"
        autocomplete
        [field]="registrationForm.password.pw2"
        [aria-invalid]="ariaInvalidState(registrationForm.password.pw2)"
      />
      <app-form-error [fieldRef]="registrationForm.password.pw2" />
    </label>
    <app-form-error [fieldRef]="registrationForm.password" />
  </div>
  <fieldset>
    <legend>
      E-Mail Addresses
      <button type="button" (click)="addEmail()">+</button>
    </legend>
    <div>
      @for (emailField of registrationForm.email; track $index) {
      <div>
        <div role="group">
          <input
            type="email"
            [field]="emailField"
            [aria-label]="'E-Mail ' + $index"
            [aria-invalid]="ariaInvalidState(emailField)"
          />
          <button type="button" (click)="removeEmail($index)">-</button>
        </div>
        <app-form-error [fieldRef]="emailField" />
      </div>
      }
    </div>
    <app-form-error [fieldRef]="registrationForm.email" />
  </fieldset>
  <label
    >Subscribe to Newsletter?
    <input type="checkbox" [field]="registrationForm.newsletter" />
  </label>

  <label>
    Topics (multiple possible):
    <select [field]="registrationForm.newsletterTopics">
      <option value=""></option>
      <option value="Angular">Angular</option>
      <option value="Vue">Vue</option>
      <option value="React">React</option>
    </select>
    <app-form-error [fieldRef]="registrationForm.newsletterTopics" />
  </label>

  <label
    >I agree to the terms and conditions
    <input
      type="checkbox"
      [aria-invalid]="ariaInvalidState(registrationForm.agreeToTermsAndConditions)"
      [field]="registrationForm.agreeToTermsAndConditions"
    />
  </label>
  <app-form-error [fieldRef]="registrationForm.agreeToTermsAndConditions" />
  <hr />
  <app-form-error [fieldRef]="registrationForm" />
  <div role="group">
    <button
      type="submit"
      [disabled]="registrationForm().submitting()"
      [aria-busy]="registrationForm().submitting()"
    >
      @if (registrationForm().submitting()) {
        Registering ...
      } @else {
        Register
      }
    </button>
    <button type="reset" (click)="resetForm()">Reset</button>
  </div>
</form>

<app-debug-output [form]="registrationForm"/>
