<details class="dropdown" [ariaDisabled]="disabled()">
  <summary>
    {{ label() }}
  </summary>
  @if (!disabled()) {
    <ul>
      @for (option of selectOptions(); track $index) {
        <li>
          <label>
            <input
              type="checkbox"
              [name]="option"
              [checked]="value().includes(option)"
              (input)="changeInput(option, $event)"
            />
            {{ option }}
          </label>
        </li>
      }
    </ul>
  }
</details>
