<app-back-button />
<h1>Version 1: Getting Started with the Basics</h1>

<form (submit)="submitForm()" novalidate>
  <label
    >Username
    <input
      type="text"
      [field]="registrationForm.username"
      [aria-invalid]="ariaInvalidState(registrationForm.username())"
    />
    <app-form-error [fieldRef]="registrationForm.username" />
  </label>

  <!-- native HTML inputs bound with the [field] directive -->
  <div>
    <label
      >Age
      <input
        type="number"
        [field]="registrationForm.age"
        [aria-invalid]="ariaInvalidState(registrationForm.age())"
      />
      <app-form-error [fieldRef]="registrationForm.age" />
    </label>
  </div>
  <fieldset>
    <legend>
      E-Mail Addresses
      <button type="button" (click)="addEmail()">+</button>
    </legend>
    <div>
      @for (emailField of registrationForm.email; track $index) {
      <div>
        <div role="group">
          <input
            type="email"
            [field]="emailField"
            [aria-label]="'E-Mail ' + $index"
            [aria-invalid]="ariaInvalidState(emailField())"
          />
          <button type="button" (click)="removeEmail($index)">-</button>
        </div>
        <app-form-error [fieldRef]="emailField" />
      </div>
      }
    </div>
    <app-form-error [fieldRef]="registrationForm.email" />
  </fieldset>
  <label
    >Subscribe to Newsletter?
    <input type="checkbox" [field]="registrationForm.newsletter" />
  </label>
  <label
    >I agree to the terms and conditions
    <input
      type="checkbox"
      [aria-invalid]="ariaInvalidState(registrationForm.agreeToTermsAndConditions())"
      [field]="registrationForm.agreeToTermsAndConditions"
    />
  </label>
  <app-form-error [fieldRef]="registrationForm.agreeToTermsAndConditions" />
  <hr />
  <app-form-error [fieldRef]="registrationForm" />
  <div role="group">
    <button
      type="submit"
      [disabled]="registrationForm().submitting()"
      [aria-busy]="registrationForm().submitting()"
    >
      @if (registrationForm().submitting()) {
        Registering ...
      } @else {
        Register
      }
    </button>
    <button type="reset" (click)="resetForm()">Reset</button>
  </div>
</form>

<app-debug-output [form]="registrationForm"/>
